body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;   
    padding: 1em;
    text-align: center;
}

.header-text {
    margin: 70px;
}

main{
    padding-bottom: 85px ;
    margin: 10px ;
}
.menu-toggle {
    position: fixed;
    left: 10px;
    top: 27px;
    background-color: hsl(0, 1%, 14%);
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 1;

  }
.menu-toggle:hover{
    background-color: hsla(0, 1%, 14%, 0.688);

}

nav {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #f4f4f4;
    transition: left 0.3s ease;
    z-index: 2;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
  }
 nav a:hover {
    background-color: #444;
  }
.page-content {
max-width: auto;
margin: 70px;
}

.salesintro {
    max-width: auto;
    margin: 7px;
}

.images{
    border-radius: 10px;
    width: 200px;
}
.saleslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px ;
    width: 200px;
    display: inline-block;
}
.buy-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .buy-button:hover {
    background-color: #555;
  }
.about-us {
    display: block;
}

.contact-form {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }
  
  body.menu-open #overlay {
    display: block;
  }
  
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}